<header>
    <div class="up bg-dark fixed-bottom" style="border-bottom: .5px solid white">
        <div class="container">
            <div class="row p-2">
                <div class=" about col-lg-8 col-md-8 col-sm-10 col-12">
                    <a href="#"><i class="fa fa-envelope"> </i><span class=" aa text-white">   rrk1234@gamil.com </span></a>
                    <a href="#"><i class="fa fa-phone"></i><span class="text-white">  768687658</span></a>
                </div>
                <div class="media col-lg-4 col-md-4 col-sm-8 col-10">
                    
                       <a class="#"><i class="fa fa-twitter text-white"></i></a>
                       <a class="#"><i class="fa fa-facebook text-white"></i></a>
                       <a class="#"><i class="fa fa-whatsapp text-white"></i></a>
                  
                </div>
            </div>
        </div>

    </div>
    <div class="down">
        
              <nav class="navbar navbar-expand-xl bg-dark navbar-dark fixed-top">
                <div class="container">
                    <img src="/assets/FoundLayEducation_Logo.png">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
                      <span class="navbar-toggler-icon"></span>

                    </button>
                  <div class="collapse navbar-collapse text-center" id="collapsenavbar">
                    <ul class=" nav navbar-nav ml-auto">
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active"  routerLink="/" routerLinkActive="active" id="navbardrop" data-toggle="dropdown">
                              HOME
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">ABOUT</a>
                              <a class="dropdown-item" href="#">NEWS</a>
                             </div>
                          </li>
                            
                            <li class="nav-item">
                              <a class="nav-link"  routerLink="/aboutus" routerLinkActive="active">COURSES</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link"  routerLink="/institute" routerLinkActive="active">INTERNSHIP</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link"  routerLink="/itupworks" routerLinkActive="active">PLACEMENTS</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link"  routerLink="/program" routerLinkActive="active">SERVICES</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link"  routerLink="/study" routerLinkActive="active">CONTACTS</a>
                            </li>
                        
                            <!-- Dropdown -->
                           
                           
                    </ul>
                  </div>
                </div>
                    
              </nav>
        
    </div>
</header>
