<footer class="bg-dark text-white" style="border-bottom: 1px solid white">
    <div class="container" style="padding-top: 40px">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-6 d-block m-auto">
          <img src="./assets/FoundLayEducation_Logo.png" class=" img-fluid d-block m-auto" style="width:200px; height:50px">
        
          <div class="content1 text-center" style="padding-top:20px">
            <p>An initiative by  	FoundLay Technologies Pvt. Ltd.</p><br>
            <p>ITUpworks is one stop solution for you to learn<br> and reach
               next level of your career in the IT industry.<br> We also colaborate
               with Institutions<br> and Corporate to help with their next level of
               IT Training<br> and Education needs.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
          <div class="content2">
             <h3>CONTACTS US</h3><br>
            <a href="#"><i class="fa fa-envelope"></i> contactus@itupworks.com</a><br>
            <a href="#"><i class="fa fa-phone"></i> 0120 4211128  |  81780 13196</a><br>
            <a href="#"><i class="fa fa-map-marker"></i>
              C-56/43, Institutional Area,<br>
              Sector 62, Noida-201309 </a>
          </div>
        </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6">
            <div class="content3 text-white">
              <h3>QUICK LINKS</h3><br>
              <p><a href="#"><i class="fa fa-chevron-right"></i> courss</a></p>
              <p><a href="#"><i class="fa fa-chevron-right"></i>Why ItUPWORKS</a></p>
              <p><a href="#"><i class="fa fa-chevron-right"></i>Leadership Team</a></p>
            </div>
          </div>
      </div>
      
    </div>


  </footer>
  <footer class="footer2 bg-dark text-white">
    <div class="container" style="padding-top: 10px">
        <div class="d-flex justify-content-between">
            <div class="content4">
              <p>HOME &nbsp; COURSES &nbsp; CONTACT &nbsp; ABOUT &nbsp; NEWS</p>
            </div>
            <div class="content5">
              <p>copyright@ItUpWorks</p>
            </div>
          </div>
    </div>
  </footer>
