<section class="itupworks bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-6 col-6">
          <div class="content text-white">
            <h2>WHY ITUPWORKS?</h2>
            <p>The career you end up choosing is your decision to make. We're here to help you make a more informed decision when contemplating the IT industry. And this is just one resource of the many that you should probably be looking at if you're considering an IT career. So, either way, here's to you having success in your professional career!</p>
          </div> 
        </div>
        <div class=" col-lg-3 col-md-3 col-sm-6 col-6">
          <div class="imgsetting">
            <img src="/assets/itupworks.png"class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="study3 bg-light text-white" >
      <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-10">
              <a href="#"class="img-fluid"><i class="fa fa-line-chart fa-3x" style="color:rgb(0, 128, 75)"></i><span class="content">Practical Experiential Learning</span></a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-10">
              <a href="#"class="img-fluid img2"><i class="fa fa-bar-chart fa-3x" style="color:rgb(0, 128, 75)"></i><span class="content">Self Assessment & Performance<br><span class="text-fix">Evaluations</span></span></a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-10">
              <a href="#"class="img-fluid"><i class="fa fa-external-link fa-3x" style="color:rgb(0, 128, 75)"></i><span class="content">Job Readiness</span></a>
            </div>
          </div>
          <div class="row row2">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-10">
              <a href="#"class="img-fluid"><i class="fa fa-hand-o-right fa-3x" style="color:rgb(0, 128, 75)"></i><span class="content">Direct from the experts & veterans</span></a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-10">
              <a href="#"class="img-fluid img2"><i class="fa fa-level-up fa-3x" style="color:rgb(0, 128, 75)"></i><span class="content"style="padding-left:45px">Assured Placement Assistance</span></a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-10">
              <a href="#"class="img1 img-fluid"><i class="fa fa-ils fa-3x" style="color:rgb(0, 128, 75);"></i><span class="content">Customized Learning Solutions</span></a>
            </div>
          </div>
        </div>
    
  </section>
