<section class="news">
    <div class="content text-center">
       <h5>LATEST NEWS</h5>
       <h2>ALL THE NEWS THAT'S FIT TO DEAL OUT</h2>
    </div>
    <div class="container bg-light">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
          <div class="imgsetting">
            <img src="/assets/itupworks.png" class="img-fluid">
          </div>
        </div>
        <div class=" col-lg-6 col-md-6 col-sm-6 col-6">
          <div class="content1">
            <h2>Ways To Gain The IT Experience Employesrs Are Looking For</h2>
            <p>It's no surprise you're curious about a career in information technology (IT). Computers, and the networks connecting them, play a vital role in nearly any business or organization. This is reflected in the rapid job growth currently underway in the technology industry.</p>
             <a href="#" class="text-white"><i class="btn btn-primary">KNOW MORE</i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="benefit">
    
   <div class="container bg-light">
     <div class="row">
       <div class=" col-lg-6 col-md-6 col-sm-6 col-6">
         <div class="imgsetting">
           <img src="/assets/Benefitsof WorkinginIT.jpeg"class="img-fluid">
         </div>
       </div>
       <div class=" col-lg-6 col-md-6 col-sm-6 col-6">
         <div class="content1">
           <h2>The Benefits Of Working In IT</h2>
           <p>Working in IT boasts advantages that are worth talking about. Here's why graduates should consider technology jobs, with or without an IT-related degree.</p>
            <a href="#" class="text-white"><i class="btn btn-primary">KNOW MORE</i></a>
         </div>
       </div>
     </div>
   </div>
  </section>
  <section class="team">
    <div class="content1 text-center">
      <h5>LEARN FROM THE BEST</h5>
      <h1>LEADERSHIP TEAM</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class=" border col-xl-3 col-lg-3 col-md-3 col-sm-10 col-10">
          <div class="imgsetting d-block">
            <img src="./assets/VikasChahal.jpg" class="img-fluid">

          </div>
          <div class="content text-center">
            <h6>VIKAS CHAHAL</h6>
            <p>Co-Founder & Director</p>
            <a href="#">in</a>
          </div>
          
        </div>
        <div class="border col-xl-3 col-lg-3 col-md-3 col-sm-10 col-10">
          <div class="imgsetting d-block">
            <img src="./assets/KamalKatyal.jpg"class="img-fluid">
            
          </div>
          <div class="content text-center">
            <h6>KAMAL KATYAL</h6>
            <p>Co-Founder & Director</p>
            <a href="#">in</a>
          </div>
          
        </div>
        <div class=" border col-xl-3 col-lg-3 col-md-3 col-sm-10 col-10">
          <div class="imgsetting d-block">
            <img src="./assets/SachinRakheja.jpg"class="img-fluid">
            
          </div>
          <div class="content text-center">
            <h6>SACHIN RAKHEJA</h6>
            <p>Co-Founder & Director</p>
            <a href="#">in</a>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <section class="start bg-success">
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="content1" style="font-weight: bold; padding-top:20px">
          <h1>BECOME AN INSTRUCTOR</h1>
          <p>Join us and become a change agent in the field of IT Trainings and Education.</p>
        </div>
        <div class="content2">
          <button class="bg-dark text-white" style="padding:10px;margin-top:30px;">GET STARTDNOW</button>
        </div>
      </div>
    </div>
  </section>
