<section class="institute bg-secondary text-white">
    <div class="container">
      <div class="row">
        <div class=" col-lg-9 col-md-9 col-sm-6 col-6">
          <div class="content">
            <h2>INSTITUTES</h2>
            <p>IT education is our wonderland and we really see some good unexplored opportunities present here. That's the reason we have come forward to partner with you. We have plethora of services with which we can help you enhance your offerings to the market, strengthen your market reputation and achieve new heights of customer satisfaction.</p>
          </div>
        </div>
        <div class=" col-lg-3 col-md-3 col-sm-6 col-6">
          <div class="imgsetting">
            <img src="/assets/institute.jpg" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="study">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-10">
          <a href="#"class="img"><i class="fa fa-building-o fa-3x" style="color:#0051ff7e"></i><span class="content">Campus Placements</span></a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-10">
          <a href="#"class="img2"><i class="fa fa-user fa-3x" style="color:#0051ff7e"></i><span class="content">Profile Building Programs</span></a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-10">
          <a href="#"class=" img"><i class="fa fa-paper-plane fa-3x" style="color:#0051ff7e"></i><span class="content">Career Counselling</span></a>
        </div>
      </div>
      <div class="row row2">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-10">
          <a href="#"class="img"><i class="fa fa-calculator fa-3x" style="color:#0051ff7e"></i><span class="content">Focused Guest Lectures</span></a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-10">
          <a href="#"class="img2"><i class="fa fa-star fa-3x" style="color:#0051ff7e"></i><span class="content">Faculty Development Program</span></a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-10">
          <a href="#"class="img1"><i class="fa fa-thumbs-up fa-3x" style="color:#0051ff7e"></i><span class="content">Setting Up COEs</span></a>
        </div>
      </div>
    </div>
  </section>
