<section class="corporate bg-dark">
    <div class="container">
      <div class="row">
        <div class=" col-lg-9 col-md-9 col-sm-6 col-6">
          <div class="content text-white">
            <h2>CORPORATES</h2>
            <p>We being a corporate itself and with our specialization in education and training, we understand the challenges an organization go through in planning and implementing an effective training system. We can be of help to you in many ways.</p>
          </div> 
        </div>
        <div class=" col-lg-3 col-md-3 col-sm-6 col-6">
          <div class="imgsetting">
            <img src="/assets/corporate.jpg"class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="study2">
      <div class="container">
        <div class="row">
          <div class=" col-lg-4 col-md-4 col-sm-4">
            <a href="#"class="img"><i class="fa fa-book fa-3x" style="color:rgb(0, 128, 75)"></i><span class="content">Training Needs Assessment</span></a>
          </div>
          <div class=" col-lg-4 col-md-4 col-sm-4">
            <a href="#"class="img2"><i class="fa fa-hand-peace-o fa-3x" style="color:rgb(0, 128, 75)"></i><span class="content">Training Solutions</span></a>
          </div>
          <div class=" col-lg-4 col-md-4 col-sm-4">
            <a href="#"class="img"><i class="fa fa-sitemap fa-3x" style="color:rgb(0, 128, 75)"></i><span class="content">Training as the Organizational<br><span class="text-fix">
                Change Agent</span></span></a>
          </div>
        </div>
        <div class="row row2">
          <div class=" col-lg-4 col-md-4 col-sm-4 ">
            <a href="#"class="img"><i class="fa fa-desktop fa-3x" style="color:rgb(0, 128, 75)"></i><span class="content">Technology & Domain based <br><span class="text-fix">trainings</span></span></a>
          </div>
          <div class=" col-lg-4 col-md-4 col-sm-4">
            <a href="#"class="img"><i class="fa fa-check fa-3x" style="color:rgb(0, 128, 75)"></i><span class="content">Training Effectiveness <br><span class="text-fix2" >Assessments</span></span></a>
          </div>
          <div class=" col-lg-4 col-md-4 col-sm-4 ">
            <a href="#"class="img1"><i class="fa fa-sun-o fa-3x" style="color:rgb(0, 128, 75)"></i><span class="content">Train the Trainers program</span></a>
          </div>
        </div>
      </div>
    
  </section>
