<section class="aboutus">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-10">
          <div class="image img-fluid">
            <img src="/assets/about-us.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-10">
          <div class="content">
                <p>The unfulfilled job opportunities & jobless candidates led to the origination of ITUpworks. This existing imbalance and challenges faced <br>by educational institutes to fine-tune their curriculum per industry requirements made us ponder over the reasons and the solution to it.<br><br>

                   We provide the right training platform and the skills required to carve out the desired profile<br> in the industry. We not only groom the candidates per industry requirements but also help them choose the right career path in-line with their interests and capabilities.<br><br>
                  
                  Not just the candidates, we also have our<br> service portfolio catering to Professionals, Institutions and Corporate as well.
                  
                </p><br>
                <i class="btn btn-primary">Know More</i>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="program bg-dark text-white">
    <div class="container">
      <div class="program-header text-center">
        <h1>PROGRAM METHODOLOGY</h1>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-10 d-block m-auto">
          <div class="imgsetting bg-primary d-block m-auto text-center"><i class="fa fa-check fa-2x text-white"></i></div>
          <div class="contentt text-center">
            <p>Know the candidates based on assessment template covering vast number of parameters and algorithm to judge and define the baseline (existing) skill set.</p>
          </div>
        </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-10 d-block m-auto">
            <div class="imgsetting bg-primary d-block m-auto text-center"><i class="fa fa-check fa-2x text-white"></i></div>
            <div class="contentt text-center">
              <p>Rapidly build and execute custom skill development programs bridging gap between the individual skill sets and the industry needs, thereby carving a perfect IT Profile.</p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-10 d-block m-auto">
              <div class="imgsetting bg-primary d-block m-auto text-center"><i class="fa fa-check fa-2x text-white"></i></div>
              <div class="contentt text-center">
                <p>Expose candidates to the real business world and give them required practical experience to ensure right alignment of their skills with Industry needs.</p>
              </div>
          </div>
      </div>
    </div>
   

  </section>
